In [7]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('processed_battery_cycle_data.csv')

In [9]:
print("Dataset Shape:", df.shape)
print("\nFirst few rows:")
display(df.head())
print("\nDataset Info:")
display(df.info())
print("\nBasic Statistics:")
display(df.describe())

Dataset Shape: (7810, 18)

First few rows:

,battery_id,cycle_number,discharge_duration_s,avg_current_A,capacity_Ah,avg_voltage_V,start_voltage_V,end_voltage_V,delta_voltage_V,avg_temp_C,start_temp_C,end_temp_C,delta_temp_C,max_temp_C,avg_power_W,energy_Wh,SOH_%,q_initial_Ah
0,battery00,0,537.423,16.281695,2.434770,6.451526,8.657,4.921,3.736,64.833192,22.350,94.618,72.268,94.618,104.977693,15.694917,100.0,2.452221
1,battery00,1,539.307,16.274049,2.442177,6.476988,8.703,4.914,3.789,67.258282,26.872,96.305,69.433,96.305,105.341179,15.807194,100.0,2.452221
2,battery00,2,538.141,16.278854,2.437739,6.475880,8.694,4.916,3.778,67.717884,27.179,97.005,69.826,97.022,105.352120,15.769836,100.0,2.452221
3,battery00,3,493.872,17.635017,2.423848,6.332612,8.632,4.924,3.708,70.938025,23.201,102.171,78.970,102.308,111.778393,15.362859,100.0,2.452221
4,battery00,4,533.243,16.289831,2.417077,6.453694,8.664,4.930,3.734,67.678090,25.923,97.005,71.082,97.005,105.064583,15.587861,100.0,2.452221

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7810 entries, 0 to 7809
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   battery_id            7810 non-null   object
 1   cycle_number          7810 non-null   int64
 2   discharge_duration_s  7810 non-null   float64
 3   avg_current_A         7810 non-null   float64
 4   capacity_Ah           7810 non-null   float64
 5   avg_voltage_V         7810 non-null   float64
 6   start_voltage_V       7810 non-null   float64
 7   end_voltage_V         7810 non-null   float64
 8   delta_voltage_V       7810 non-null   float64
 9   avg_temp_C            7810 non-null   float64
 10  start_temp_C          7810 non-null   float64
 11  end_temp_C            7810 non-null   float64
 12  delta_temp_C          7810 non-null   float64
 13  max_temp_C            7810 non-null   float64
 14  avg_power_W           7810 non-null   float64
 15  energy_Wh             7810 non-null   float64
 16  SOH_%                 7810 non-null   float64
 17  q_initial_Ah          7810 non-null   float64
dtypes: float64(16), int64(1), object(1)
memory usage: 1.1+ MB

None

Basic Statistics:

,cycle_number,discharge_duration_s,avg_current_A,capacity_Ah,avg_voltage_V,start_voltage_V,end_voltage_V,delta_voltage_V,avg_temp_C,start_temp_C,end_temp_C,delta_temp_C,max_temp_C,avg_power_W,energy_Wh,SOH_%,q_initial_Ah
count,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000,7810.000000
mean,240.722663,615.582871,12.939707,2.098360,6.445886,8.520459,4.926886,3.593573,49.792916,25.046542,69.552447,44.505905,69.563965,82.959781,13.526592,86.189061,2.456831
std,188.075487,150.300543,3.085662,0.177923,0.190912,0.149868,0.052552,0.156493,7.518760,2.274410,11.899562,12.027480,11.874639,18.464095,1.345902,7.164299,0.014168
min,0.000000,23.347000,6.984272,0.128158,5.988407,4.913000,4.900000,-0.039000,-58.617453,-75.974000,-60.304000,0.000000,-41.846000,47.772948,0.839606,69.011534,2.431313
25%,88.000000,496.267750,9.758881,1.963714,6.311203,8.485000,4.911000,3.562000,44.683177,23.928000,61.582500,36.197000,61.596500,64.045806,12.527133,80.215353,2.450561
50%,200.000000,558.429500,13.611267,2.088790,6.430665,8.516000,4.922000,3.593500,48.625143,25.190000,67.767000,42.953000,67.795000,86.042428,13.507018,85.586649,2.452669
75%,350.750000,722.615250,15.097544,2.229120,6.577618,8.566000,4.936000,3.638000,53.270346,26.283000,75.676500,50.887500,75.679000,95.878817,14.451769,91.665393,2.459027
max,821.000000,1118.413000,23.963754,2.487820,7.536980,9.058000,7.111000,4.149000,74.782162,29.584000,109.024000,140.760000,109.024000,180.500631,17.179603,100.000000,2.491873

In [10]:
print("Missing values per column:")
display(df.isnull().sum())

Missing values per column:

battery_id              0
cycle_number            0
discharge_duration_s    0
avg_current_A           0
capacity_Ah             0
avg_voltage_V           0
start_voltage_V         0
end_voltage_V           0
delta_voltage_V         0
avg_temp_C              0
start_temp_C            0
end_temp_C              0
delta_temp_C            0
max_temp_C              0
avg_power_W             0
energy_Wh               0
SOH_%                   0
q_initial_Ah            0
dtype: int64

In [6]:
# Drop the specified columns and rows where is_reference_cycle is True
df = df[~df['is_reference_cycle']]
df = df.drop(columns=['is_reference_cycle', 'RUL_cycles'])

# Save the processed DataFrame as a CSV file
df.to_csv('battery_data_for_model.csv', index=False)